<p id="notice"><%= notice %></p>

<h2>
  <b>Name:</b>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
      <span class="label label-info">retired</span>
  <% end %>
</h2>

<p>
  <b>Established year: </b>
  <%= @brewery.year %>
</p>

<i>
	<b>Number of beers: </b>
	<%= @brewery.beers.count %>
</i>

<p>
	<% @brewery.beers.each do |beer| %>
	<%= link_to beer.name, beer %>
	<% end %>
</p>

<p>
	Has <%= pluralize(@ratings.length, 'rating', 'ratings') %>
	<% if(@ratings.length != 0) %> , average <%= @brewery.average_rating %> <% end %>
</p>

<p>
	<%= link_to 'Edit', edit_brewery_path(@brewery) unless current_user.nil? %>
</p>
